<div style="height: 410px;  overflow: auto;   display: table-caption;"> 
    <input type="radio" name="rerun" id="retrigger--1" class="retrigger"/>
    <input type="radio" name="rerun" id="retrigger--2" checked="checked" class="retrigger"/>
    <div class="bg"></div>
    <div class="buttons">
    <label for="retrigger--1" class="button button--1">PLAY AGAIN</label>
    <label for="retrigger--2" class="button button--2">PLAY AGAIN</label>
    </div>
    <div class="pane">
    <div class="rotate">
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
        <div class="logo">MARVEL</div>
    </div>
    </div>
</div>